<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
        <img src='https://gutscheinbuch.de/data/crm_vertrag/610001_201007_172506OK/logo/610001_201007_172506OK_logo_779px.jpg' height="55px" width="110px"> 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
              <a class="nav-link " aria-current="page" routerLink="/objekte">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" routerLink="/wohnungen">Wohhnungen</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" routerLink="/hauser">Häuser</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" routerLink="/bauplaetze">Bauplätze</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" routerLink="/create">erstellen oder bearbeiten </a>
            </li>
          </ul>
        </div>
      </div>
</nav>

<div class="container pt-4">
  <div class="h-100 p-4 bg-light border rounded-3 text-left">
  <div class="display-6">Ausschreibungen</div>
</div>
<br>



  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="http://localhost:3000/images/1.jpg" alt="" style="max-height: 160px;">
      <div class="card-body">
        <h5 class="card-title">Wohnungen</h5>
        <md-button routerLink="/wohnungen/" class="btn btn-light" >Alle Wohnungen anzeigen</md-button>
       
       
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="http://localhost:3000/images/6.jpg" alt=""style="max-height: 160px;">
      <div class="card-body">
        <h5 class="card-title">Häuser</h5>
        <md-button routerLink="/hauser/" class="md-raised">Alle Häuser anzeigen</md-button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="http://localhost:3000/images/7.jpg" alt="" style="max-height: 160px;">
      <div class="card-body">
        <h5 class="card-title">Bauplätze</h5>
        <md-button routerLink="/bauplaetze/" class="md-raised">Alle Bauplätze anzeigen</md-button>
      </div>
    </div>
  </div>
  <br>

    <div class="input-group">
      <input type="search" class="form-control rounded" placeholder="Suche" aria-label="Search" />
     <!-- <button (click)="suche(objekte)"</button> type="button" class="btn btn-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
    </svg>
      </button>-->
    </div>
    <br>
    <br>


   <hr>
   
   <router-outlet> </router-outlet>
  
  </div>

  