<div class="list-group" *ngFor="let Objekt of objekte">
    <div class="card mb-5" style="max-width: 1500px; height: 300px;">
      <div class="row g-0">
        <div class="col-md-4">
          
            <img src="http://localhost:3000/images/{{Objekt.id}}.jpg"class="img-fluid rounded-start" alt="...">
          
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <button (click)="deleteObjekt(Objekt)" class="btn btn-sm btn" style="position: absolute; top: 0; right: 0;">x</button>
            <h5 class="card-title">{{Objekt.titel}}</h5>
            <p class="card-text">{{Objekt.beschreibung}}</p>
            <p class="card-text"><small class="text-muted">{{Objekt.adresse}}, {{Objekt.plz}} {{Objekt.ort}}
              <br> {{Objekt.groesse}} Quadratmeter Wohn- oder Baufläche</small></p>
            <p class="card-text"><small class="text-muted">Interessenten: {{Objekt.anzahlinteressent}}</small></p>
            <br>
            <mat-button routerLink="/edit/{{Objekt.titel}}"class="btn btn-outline-secondary">Angebot anzeigen</mat-button>
            <br>
    
            
    
          </div>
        </div>
      </div>
    </div>
    