
<!--
<div class="list-group" *ngFor="let Objekt of objekte">
  <a href="#" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <a routerLink="/edit/{{Objekt.titel}}" class="mb-1 h5 text-decoration-none">{{Objekt.titel}}</a>
      
      <button (click)="deleteObjekt(Objekt)" class="btn btn-sm btn">x</button>
    </div>
    <p class="mb-1">{{Objekt.beschreibung}}.</p>
    <small>Quadratmeterzahl: </small>
  </a>
</div>
-->

<div class="list-group" *ngFor="let Objekt of objekte">
<div class="card mb-5" style="max-width: 1500px; height: 300px;">
  <div class="row g-0">
    <div class="col-md-4">
      <!--
        <img src=" "class="img-fluid rounded-start" alt="...">
      -->
    </div>
    <div class="col-md-8">
      <div class="card-body">
        
        <p class="card-text">{{Objekt.titel}}</p>
        <p class="card-text"><small class="text-muted">{{Objekt.beschreibung}}</small></p>
        <md-button routerLink="/edit/{{Objekt.titel}}"class="md-raised md-cornered">Angebot ansehen ...</md-button>
        <br>

        <button (click)="deleteObjekt(Objekt)" class="btn btn-sm btn">x</button>

      </div>
    </div>
  </div>
</div>
