<div class="card mb-3">
   
    <div class="card-body">
        <h5 class="card-title">Neue Wohnung, Bauplatz oder Haus hinzufügen</h5>
        <form>
            <div class="col">
            <label class="form-label">Objektart</label>
            <select id="inputTitel" [(ngModel)] ="objekte.typ" name="Typ" class="form-control"> 
                <option selected>bitte wählen...</option>
                <option>Haus</option>
                <option>Wohnung</option>
                <option>Bauplatz</option>
              </select>
            </div>
            <div class="col">
            <label class="form-label">Bild ändern oder hinzufügen:</label>
            <!--<img src="http://localhost:3000/images/{{Objekt.id}}.jpg"class="img-fluid rounded-start" alt="...">-->
            <input type="file" (change)="onFileChange($event)" [(ngModel)] ="bild" name="Bild" class="form-control"/>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <label class="form-label">ID</label>
                       <input type="number" [(ngModel)] ="objekte.id" name="ID" class="form-control"/>
                   </div>
                <div class="col">
                    <label class="form-label">Interessenten</label>
                    <input type="number" [(ngModel)] ="objekte.anzahlinteressent" name="Größe" class="form-control"/>
                </div>
            </div>        
            <div class="row mb-2">
            <div class="col">
                <label class="form-label">Titel</label>
                <input type="text" [(ngModel)] ="objekte.titel" name="Titel" class="form-control"/>
            </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                <label class="form-label">Beschreibung</label>
                <textarea class="form-control" [(ngModel)] ="objekte.beschreibung" name="Beschreibung" rows="3"></textarea>
                </div>
            </div>
        
            <div class="row mb-2">
                <div class="col">

                    <label class="form-label">Straße und Hausnummmer</label>
                    <input type="text" [(ngModel)] ="objekte.adresse" name="Adresse" class="form-control"/>
                </div>
                <div class="col">
                    <label class="form-label">Postleitzahl</label>
                    <input type="text" [(ngModel)] ="objekte.plz" name="Adresse" class="form-control"/>
                </div>
                <div class="col">
                    <label class="form-label">Ort</label>
                    <input type="text" [(ngModel)] ="objekte.ort" name="Adresse" class="form-control"/>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <label class="form-label">Größe in Quadratmeter</label>
                    <input type="number" [(ngModel)] ="objekte.groesse" name="Größe" class="form-control"/>
                </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                    <button (click)="save()" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>  

    



